VITE_STRAPI_BASE_URL=https://strapi.ecpixcompany.com
VITE_STRAPI_TOKEN=tu_token_de_produccion_aqui
VITE_N8N_WSP_WEBHOOK=https://global-n8nwithpostgres-d946fa-86-48-30-229.sslip.io/webhook/wsp-received-manual
VITE_N8N_WSP_TIMEOUT_MS=15000
